/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
    font-family: 'Dosis', sans-serif;
    
}


table{
 width: 100%;
 max-width: 100%;
 font-family: 'Dosis', sans-serif;
 text-align: center;
 border-bottom: 1px;
 color: #1A4955;
}

td{
border-top: 1px solid lightgrey;
}

.btn.btn-primary{
  background-color: #1A4955;
  border: none;
  border-radius: 0%;
}

.btn.btn-primary:hover{
  background-color: #F4DD6F;
  color: #1A4955;
  border: none;
  border-radius: 0%;
}
/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color:#F4DD6F;
    font-family: 'Dosis', sans-serif;
    color: #1A4955;
    a {
        color: #1A4955;
        &:hover {
      }
    }
}

footer div{
  padding-bottom: 10px;
}

.tekstfooter {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dosis', sans-serif;
}
h1{
  color:#1A4955;
  font-family: 'Dosis', sans-serif;
  font-size: 15mm;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

h2{
  color: #1A4955;
  padding-top: 30px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h3{
  color: #1A4955;
  text-align: center;
  margin-bottom: 20pt;
  font-family: 'Dosis', sans-serif;
}

p{
  font-family: 'Dosis', sans-serif;
  color: #1A4955;
  text-align: center;
  font-size: 12pt;
}

h5{
  color:#1A4955;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 10px;
  font-size: 10pt;
}


hr{
  width: 15%;
  border: 2px solid #F4DD6F;
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1A4955; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}

